@import '../constants';

.app-tools {

  #nav-toolbar {
    background-color: $white;
    color:$black;
    box-shadow: 0px 8px 30px #0000001A;
    position: relative;
    z-index: 10;
    li.admin {
      border-bottom: 2px solid white;
    }
  .MuiButton-label{
    color: $black;
  }
  
  }
  .app-icon-button {
    &.hovering :hover {
      background-color: $tools-darker !important;
    }   
  }
  a {
    text-decoration: none;
  }

}

/* important for this to outside of app-container for modals and such */
a {
  color: $tools-darker;
}
